<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.gtool.dao.MachineDOMapper">


    <select id="queryByMachineCode" resultType="com.cn.gtool.bean.vo.MachineForQueryByMachineCodeVO">
        SELECT
            a.end_time endTime,
            a.machine_code machineCode
        FROM
            t_machine a
        WHERE
            a.machine_code = #{machineCode}
    </select>

</mapper>